@{
    ViewBag.Title = "List";
}
<main class="text-center">
    <h1 class="h4">Meeting Attendance List</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Participation Status</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Muhammed Aydın</td>
                <td>Yes</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="#">Details</a>
                </td>
            </tr>
            <tr>
                <td>Selenay Tınas</td>
                <td>No</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="#">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
